.feedback__container {
  width: 100%;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;

  p {
    color: #4a4a4a !important;
    font-size: 1.3rem !important;
  }

  &.error {
    background: #ff5661;

    p {
      color: #fff !important;
    }
  }

  &.success {
    border: 1px solid #48ceb0;
    background: rgba(72, 206, 176, 0.1);
  }

  &.neutral {
    border: 1px solid $grey-medium;
    background: rgba(74, 74, 74, 0.1);
    opacity: 0.6;
  }

  &.warning {
    border: 1px solid #ffb356;
    background-color: rgba(255, 179, 86, 0.1);
  }
}
